html, body {
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Text';
  transition: 3s;
}

#content1, #content2, #content3 {
  position: fixed;
  display: flex;
  width:100%;
  height: 100%;
  z-index: 10;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  color: rgba(220,80,20);
}

#content1 {
  visibility: visible;
}

#content2 {
  visibility: visible;
}

#content3 {
  visibility: hidden;
  align-items: center;
}

#content2 {
  position: fixed;
  display: inline;
  width:100%;
  height: 100%;
  z-index: 10;
  top: 0;
  justify-content: center;
  background-color: #FFFFFF;
  color: rgba(220,80,20);
}

#sharing, #history {
  padding: 5%;
}


#c2 {
  padding: 10%;
  padding-top: 5%;
}

#roth, #common {
  width: 50%;
  padding: 5%;
}

#header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

#title {
  font-size: 48pt;
  color: rgba(220,80,20);
  transform: translate(0,-30px);
}

#blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16pt;
  color: rgba(220,80,20);
}

#close {
  position: fixed;
  top: 10px;
  right:5%;
  cursor: pointer;
  z-index: 30;
  font-size: 56pt;
}




#sinewaves{
  margin-top: 100px;
  width:1000px;
  z-index:-10;
}

#frame {
  display: flex;
  justify-content: center;
  align-items: center;

#text {
  position: absolute;
  cursor: pointer;
  transform: translate(-240px, -5px);
  width: 100px;
  height: 40px;
  background-color: rgba(0,0,0,0);
  z-index:10;
}

#writing {
  position: absolute;
  cursor: pointer;
  transform: translate(-165px, 55px);
  width: 170px;
  height: 50px;
  background-color: rgba(0,0,0,0);
  z-index:10;
}

#justice {
  position: absolute;
  cursor: pointer;
  transform: translate(-190px, 125px);
  width: 175px;
  height: 40px;
  background-color: rgba(0,0,0,0);
  z-index:10;
}
