#content {
  margin: 10%;
  vertical-align: center;
}

#page {
  width: 100%;
}

#header {
  text-align: center;
}

#roth {
  float: left;
  width: 40%;
  padding: 5%;
}

#common {
  float: right;
  width: 40%;
  padding: 5%;
}

#sinewaves{
    position:fixed;
    width:100%;
    z-index:-10;
}

#text { 
  margin-top: 25%;
}

#writing {
  margin-top: 5%;
}

#justice { 
  margin-top:5%;
}
